h1,
h2 { 
    font-family: "Andale Mono", monospace
    
}

p {
    font-family: "Bradley Hand", cursive
    
}

a:link {
    color: green
}

a:visited {
    color: red
}

body{
    background-color: #EBC033;
}